@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::selection {
    background: inherit;
    color: inherit;
}

:root {
    /* Default theme */
    --defaultthemew: #eee;
    --defaultthemeb: #5b5b68;

	/* Gotham theme*/
	--gothamthemew: #f0d9b5;
    --gothamthemeb: #b58863;
}

#chess-board {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}
#chess-board th {
    padding-right: 10px;
}

#chess-board td, #chess-board td div {
    width: 75px;
    height: 75px;
}

@media screen and (max-width: 750px) {
    #chess-board td, #chess-board td div {
        width: calc(calc(100vw - 75px) / 9);
        height: calc(calc(100vw - 75px) / 9);
    }    
}

.br, .bn, .bb, .bq, .bk, .bp, .wr, .wn, .wb, .wq, .wk, .wp {
    background-size: 100% 100%;
    cursor:grab;
}

.br {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/br.png');
}
.bn {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bn.png');
}
.bb {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bb.png');
}
.bq {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bq.png');
}
.bk {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bk.png');
}
.bp {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/bp.png');
}

.wr {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wr.png');
}
.wn {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wn.png');
}
.wb {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wb.png');
}
.wq {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wq.png');
}
.wk {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wk.png');
}
.wp {
    background-image: url('https://www.chess.com/chess-themes/pieces/neo/150/wp.png');
}


table[data-theme=default] tr:nth-child(even) td:nth-child(even), table[data-theme=default] tr:nth-child(odd) td:nth-child(odd) {
	background: var(--defaultthemeb);
	color: var(--defaultthemew);
}
table[data-theme=default] tr:nth-child(even) td:nth-child(odd), table[data-theme=default] tr:nth-child(odd) td:nth-child(even){
	background: var(--defaultthemew);
	color: var(--defaultthemeb);
}

table[data-theme=gotham] tr:nth-child(even) td:nth-child(even), table[data-theme=gotham] tr:nth-child(odd) td:nth-child(odd) {
	background: var(--gothamthemeb);
	color: var(--gothamthemew);
}
table[data-theme=gotham] tr:nth-child(even) td:nth-child(odd), table[data-theme=gotham] tr:nth-child(odd) td:nth-child(even){
	background: var(--gothamthemew);
	color: var(--gothamthemeb);
}
