---
import Layout from '../layouts/Layout.astro';
import Chessboard from '../components/Chessboard.astro';
---

<Layout title="Welcome to Astro.">
	<div style="max-width: 500px; width: 100%; position: absolute; top: 150px;"><Chessboard chessclass="board1" color="white" /></div>
	<div style="max-width: 500px; width: 100%; position: absolute; top: 1050px;"><Chessboard chessclass="board2" color="white" /></div>
</Layout>
